---
http_interactions:
- request:
    method: get
    uri: https://www.thegamegal.com/wordgenerator/generator.php?category=8&game=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset="UTF-8"
    body:
      encoding: UTF-8
      string: '{"success":true,"words":["shower curtain","dent","sandbox","salmon","mast","scream","lace","sweater
        vest","double","hurdle","wag","peasant","taxi","crow''s nest","avocado","birthday","juggle","shampoo","pail","retail","sneeze","baseboards","season","macho","houseboat","s''mores","boa
        constrictor","dryer sheets","fizz","diagonal","darts","world","CD","banister","gold","think","pilot","point","hut","wedding
        cake","sponge","dentist","wind","sheep dog","picnic","password","yolk","runt","koala","barg[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=pocket
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="5fb9e48c0b5031fbaa7765084a3ab99f",
        oauth_signature="E%2B8mUuZdEqM%2FOl1yPBjKvCkxpNg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1449126061", oauth_token="<twitter_access_token>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 03 Dec 2015 07:01:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4bb97b9ad3ef90c19c3ef7ae5f5cd83a
      X-Response-Time:
      - '113'
      X-Transaction:
      - 2416b09fc188888c
      X-Tsa-Request-Body-Time:
      - '2'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Thu Dec 03 07:01:02 +0000 2015","id":672309549617942528,"id_str":"672309549617942528","text":"pocket","source":"\u003ca
        href=\"https:\/\/twitter.com\/a_giphy_bot\" rel=\"nofollow\"\u003ea_giphy_bot\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":4266344534,"id_str":"4266344534","name":"a_giphy_bot","screen_name":"a_giphy_bot","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Tue
        Nov 17 09:40:58 +0000 2015","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":7,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_4_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Thu, 03 Dec 2015 07:01:02 GMT
[...]
