---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=<giphy_api_key>&tag=ThereShouldBeNoWayThatThereIsAGifUnderThisName
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":[],"meta":{"status":200,"msg":"OK"}}
  recorded_at: Tue, 24 Nov 2015 15:49:20 GMT
recorded_with: VCR 2.9.3
