---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="5d4cc285e41333794945171cc346b861",
        oauth_signature="cScTsII6c2IVfwSOtpljPGPDpBs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1447276145", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 11 Nov 2015 21:09:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - baeefc5ee5b795f98a0334fc067da4ea
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1447276946'
      X-Response-Time:
      - '409'
      X-Transaction:
      - 911fb8f2c923b62d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Nov 11 21:08:40 +0000 2015","id":664550333327106048,"id_str":"664550333327106048","text":"Dream
        Bodies https:\/\/t.co\/VWZXf29u97 https:\/\/t.co\/77J4Jbb5NR","source":"\u003ca
        href=\"https:\/\/twitter.com\" rel=\"nofollow\"\u003eliftingstir_new\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":317358479,"id_str":"317358479","name":"Kristi
        Cunningham","screen_name":"liftingstir","location":"Detroit\r","description":"Web
        maven. Typical food enthusiast. Avid alcohol geek. Subtly charming troublemaker.
        Friendly beer ninja. Travel fanatic.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2901,"friends_count":2675,"listed_count":27,"created_at":"Tue
        Jun 14 20:26:51 +0000 2011","favourites_count":0,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":4302,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/551506811992293378\/2VBCYS0P_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/551506811992293378\/2VBCYS0P_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/317358479\/1420324471","profile_link_color":"89C9FA","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/VWZXf29u97","expanded_url":"http:\/\/bit.ly\/1k83YF1","display_url":"bit.ly\/1k83YF1","indices":[13,36]}],"media":[{"id":664550333163569152,"id_str":"664550333163569152","indices":[37,60],"media_url":"http:\/\/pbs.twimg.com\/media\/CTj1Ac-VAAA6kWv.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTj1Ac-VAAA6kWv.jpg","url":"https:\/\/t.co\/77J4Jbb5NR","display_url":"pic.twitter.com\/77J4Jbb5NR","expanded_url":"http:\/\/twitter.com\/liftingstir\/status\/664550333327106048\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":599,"h":299,"resize":"fit"},"small":{"w":340,"h":169,"resize":"fit"},"large":{"w":599,"h":299,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Nov 11 21:08:40 +0000 2015","id":664550329908899840,"id_str":"664550329908899840","text":"Dear
        dream of us.@GaryBarlow our dream it''s you come to France please #TTtoFrance
        you can realize our dream ?:''( &lt;3 https:\/\/t.co\/dCNlZj6tze","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_rep[...]
- request:
    method: get
    uri: http://pbs.twimg.com/media/CTj1Ac-VAAA6kWv.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - Ebj2pg/UZO8whZPNwVqGag==
      Last-Modified:
      - Wed, 11 Nov 2015 21:08:40 GMT
      X-Connection-Hash:
      - 0ae562acbf8483e445827497c825d3aa
      X-Response-Time:
      - '22'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcH
        Bw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/
        2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh[...]
- request:
    method: post
    uri: https://dreamscopeapp.com/api/images
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        LS03MTYwMjQNCkNvbnRlbnQtRGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFt
        ZT0iZmlsdGVyIg0KDQpzdHJlZXRfemVicmENCi0tNzE2MDI0DQpDb250ZW50
        LURpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9ImltYWdlIjsgZmlsZW5h
        bWU9ImRyZWFtX0NUajFBYy1WQUFBNmtXdi5qcGciDQpDb250ZW50LVR5cGU6
        IGltYWdlL2pwZWcNCg0K/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUDBAQE
        AwUEBAQFBQU[...]
- request:
    method: get
    uri: https://dreamscopeapp.com/api/images/oYffJ7ugTr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"processing_status": 0, "profile_id": null, "private": false, "total_likes":
        0, "likes": [], "uuid": "oYffJ7ugTr", "title": "", "share_url": "https://dreamscopeapp.com/i/oYffJ7ugTr",
        "comments": [], "direct_url": "", "profile": null, "friendly_total_likes":
        "0", "description": "", "friendly_date": " 1 minute", "last_modified": "2015-11-11
        21:07:51.137817+00:00", "filtered_thumbnail_url": "", "filter_name": "street_zebra",
        "created_ts": 1447276071137800.0, "filtered_url": "", "created": "2015-11-11
        21:07:51.137800+00:00", "original_url": "https://dreamscope-prod-v1.s3.amazonaws.com/images/8eee8e7b-3723-4657-861e-3c3ce78ad74d.jpeg",
        "nsfw": true}'
  recorded_at: Wed, 11 Nov 2015 21:09:17 GMT
[...]
- request:
    method: get
    uri: https://dreamscope-prod-v1.s3.amazonaws.com/images/ba782f1d-0182-4c45-b378-f72c0103e395.jpeg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - FE5D9F30742B1EC6
      Last-Modified:
      - Wed, 11 Nov 2015 21:10:25 GMT
      Etag:
      - '"552542a5213b992e21d6576914b1f99e"'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
        DBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/
        2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAErAlgDASIAAhEBAxEB/8QA
        HwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUF
        [...]
