---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="45318193fda53861ce64214ecc897c94",
        oauth_signature="hQeerrvPuXDf2KGWcMXdmgfB5Sc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446956408", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 08 Nov 2015 04:20:08 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 73c9a0034086a259002471c8bd08d0c6
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1446956744'
      X-Response-Time:
      - '422'
      X-Transaction:
      - e8a1b980aeb0bedf
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 04:19:37 +0000 2015","id":663209233119211520,"id_str":"663209233119211520","text":"It''s
        okay to dream... But it''s even better when you make them come true. https:\/\/t.co\/bXLhNo7hpC","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":504112017,"id_str":"504112017","name":"Larissa
        Marie.\u2764\ufe0f","screen_name":"RissaMariee21","location":"Htx","description":"Katianna
        Alyce is my Guardian Angel, IMY & ILY. ||Philip 4:13|| HTX \u2708\ufe0f CALI
        2k16","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1285,"friends_count":1867,"listed_count":3,"created_at":"Sun
        Feb 26 06:50:02 +0000 2012","favourites_count":7298,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":18262,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/663186467351453697\/B8sXfU3M_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/663186467351453697\/B8sXfU3M_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/504112017\/1446868120","profile_link_color":"FF0000","profile_sidebar_border_color":"65B0DA","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":{"id":"017908f312c2a68b","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/017908f312c2a68b.json","place_type":"city","name":"New
        Caney","full_name":"New Caney, TX","country_code":"US","country":"United States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-95.364455,30.117917],[-95.192182,30.117917],[-95.192182,30.2467245],[-95.364455,30.2467245]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":663209080459128832,"id_str":"663209080459128832","indices":[73,96],"media_url":"http:\/\/pbs.twimg.com\/media\/CTQxJRSUcAAFdD3.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTQxJRSUcAAFdD3.jpg","url":"https:\/\/t.co\/bXLhNo7hpC","display_url":"pic.twitter.com\/bXLhNo7hpC","expanded_url":"http:\/\/twitter.com\/RissaMariee21\/status\/663209233119211520\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":453,"resize":"fit"},"medium":{"w":600,"h":800,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":768,"h":1024,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 04:19:32 +0000 2015","id":663209210830716928,"id_str":"663209210830716928","text":"ok
        my dream https:\/\/t.co\/ZpWwAFxAPJ","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user[...]
- request:
    method: get
    uri: http://pbs.twimg.com/media/CTQxJRSUcAAFdD3.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - F4I6Q9dr/rIXRdtCxD36LQ==
      Last-Modified:
      - Sun, 08 Nov 2015 04:19:01 GMT
      X-Connection-Hash:
      - 7245ae643613bbb56d5e64c05c4c2966
      X-Response-Time:
      - '54'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcH
        Bw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/
        2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh[...]
- request:
    method: post
    uri: https://dreamscopeapp.com/api/images
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        LS03ODYzOTcNCkNvbnRlbnQtRGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFt
        ZT0iZmlsdGVyIg0KDQp3YXRlcmNvbG9yX21hbmV0X3BvcnRyYWl0DQotLTc4
        NjM5Nw0KQ29udGVudC1EaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJp
        bWFnZSI7IGZpbGVuYW1lPSJkcmVhbV9DVFF4SlJTVWNBQUZkRDMuanBnIg0K
        Q29udGVudC1UeXBlOiBpbWFnZS9qcGVnDQoNCv/Y/+AAEEpGSUYAAQEAAAEA
        AQAA/9sAQwA[...]
- request:
    method: get
    uri: https://dreamscopeapp.com/api/images/wf2hW_euSy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"processing_status": 0, "profile_id": null, "private": false, "total_likes":
        0, "likes": [], "uuid": "wf2hW_euSy", "title": "", "share_url": "https://dreamscopeapp.com/i/wf2hW_euSy",
        "comments": [], "direct_url": "", "profile": null, "friendly_total_likes":
        "0", "description": "", "friendly_date": "", "last_modified": "2015-11-08
        04:19:59.365055+00:00", "filtered_thumbnail_url": "", "filter_name": "watercolor_manet_portrait",
        "created_ts": 1446956399365040.0, "filtered_url": "", "created": "2015-11-08
        04:19:59.365040+00:00", "original_url": "https://dreamscope-prod-v1.s3.amazonaws.com/images/4ff6915e-2e78-47df-8954-a759efaec8d6.jpeg",
        "nsfw": true}'
  recorded_at: Sun, 08 Nov 2015 04:20:12 GMT
[...]
- request:
    method: get
    uri: https://dreamscope-prod-v1.s3.amazonaws.com/images/aeb9d625-3a77-4a08-b7d8-49b51f560e08.jpeg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - B8D7B8795F0D4EF2
      Last-Modified:
      - Sun, 08 Nov 2015 04:21:55 GMT
      Etag:
      - '"52349e9bf5d4e2983681baa688f8f8f0"'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
        DBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/
        2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAJYAcIDASIAAhEBAxEB/8QA
        HwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUF
        [...]
