---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="8f3fc64939c4e2e1074a0e74fa16b498",
        oauth_signature="cTeZqHMXadxkvzAMiPcrI8Gz5i8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446956633", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 08 Nov 2015 04:23:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - b2b4d4d79c7e3ecfbf0ea361ad9c2cd2
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1446956744'
      X-Response-Time:
      - '370'
      X-Transaction:
      - 566edb0d5f1e6f63
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 04:23:19 +0000 2015","id":663210164124712960,"id_str":"663210164124712960","text":"I
        Don''t dream to be one, but here I am. https:\/\/t.co\/iKwGiGeoKZ","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2519687426,"id_str":"2519687426","name":"Genesis
        Tumambing","screen_name":"hipurgen","location":"","description":"Pink Girl
        Rock, Crazy, Psychotic Princess \u30c4 Enrique''s Sexy Love \u2665\u2665","url":"https:\/\/t.co\/xRyN79VcD5","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xRyN79VcD5","expanded_url":"https:\/\/www.facebook.com\/yacky25?__nodl","display_url":"facebook.com\/yacky25?__nodl","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":152,"friends_count":66,"listed_count":0,"created_at":"Sat
        May 24 06:37:13 +0000 2014","favourites_count":200,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":265,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/655253718934261760\/0fD0pzlu_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/655253718934261760\/0fD0pzlu_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2519687426\/1445754565","profile_link_color":"F5ABB5","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":663210147372662784,"id_str":"663210147372662784","indices":[40,63],"media_url":"http:\/\/pbs.twimg.com\/media\/CTQyHX2VAAA8PTt.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTQyHX2VAAA8PTt.jpg","url":"https:\/\/t.co\/iKwGiGeoKZ","display_url":"pic.twitter.com\/iKwGiGeoKZ","expanded_url":"http:\/\/twitter.com\/hipurgen\/status\/663210164124712960\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":425,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":750,"resize":"fit"},"large":{"w":640,"h":800,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 04:23:10 +0000 2015","id":663210123951673344,"id_str":"663210123951673344","text":"who
        else has had this dream https:\/\/t.co\/PKSI0YhIrl","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_i[...]
- request:
    method: get
    uri: http://pbs.twimg.com/media/CTQyHX2VAAA8PTt.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - Wgeu3o35XlIbl3de6XFuVg==
      Last-Modified:
      - Sun, 08 Nov 2015 04:23:15 GMT
      X-Connection-Hash:
      - 5992dcff2206feb648725b667ceccb0c
      X-Response-Time:
      - '53'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcH
        Bw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/
        2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh[...]
- request:
    method: post
    uri: https://dreamscopeapp.com/api/images
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        LS02MDg2ODINCkNvbnRlbnQtRGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFt
        ZT0iZmlsdGVyIg0KDQp3YXRlcmNvbG9yX21hbmV0X3BvcnRyYWl0DQotLTYw
        ODY4Mg0KQ29udGVudC1EaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJp
        bWFnZSI7IGZpbGVuYW1lPSJkcmVhbV9DVFF5SFgyVkFBQThQVHQuanBnIg0K
        Q29udGVudC1UeXBlOiBpbWFnZS9qcGVnDQoNCv/Y/+AAEEpGSUYAAQEAAAEA
        AQAA/9sAQwA[...]
- request:
    method: get
    uri: https://dreamscopeapp.com/api/images/PcKwD2w1QI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"processing_status": 0, "profile_id": null, "private": false, "total_likes":
        0, "likes": [], "uuid": "PcKwD2w1QI", "title": "", "share_url": "https://dreamscopeapp.com/i/PcKwD2w1QI",
        "comments": [], "direct_url": "", "profile": null, "friendly_total_likes":
        "0", "description": "", "friendly_date": "Just now", "last_modified": "2015-11-08
        04:23:44.019270+00:00", "filtered_thumbnail_url": "", "filter_name": "watercolor_manet_portrait",
        "created_ts": 1446956624019257.0, "filtered_url": "", "created": "2015-11-08
        04:23:44.019257+00:00", "original_url": "https://dreamscope-prod-v1.s3.amazonaws.com/images/e4656500-2a8e-4041-8d75-1385a5486dfe.jpeg",
        "nsfw": true}'
  recorded_at: Sun, 08 Nov 2015 04:23:56 GMT
[...]
- request:
    method: get
    uri: https://dreamscope-prod-v1.s3.amazonaws.com/images/8fd97235-6638-4d58-89d0-348b5207be95.jpeg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 2403C0C52D68CFCB
      Last-Modified:
      - Sun, 08 Nov 2015 04:25:40 GMT
      Etag:
      - '"779bb6ac21a3bc96548867500af372ec"'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
        DBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/
        2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAJYAeADASIAAhEBAxEB/8QA
        HwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUF
        [...]
