---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="bcb208ed3adf5a1f4577aa3c244aa93f",
        oauth_signature="j8Eivhx3oywjoRpbT244%2BOK1Ucg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446952745", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 08 Nov 2015 03:19:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 4bb2775c047b6cf63e8fe84f61c084e1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1446953644'
      X-Response-Time:
      - '333'
      X-Transaction:
      - b656022e3cdacd6a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 03:18:36 +0000 2015","id":663193875847118848,"id_str":"663193875847118848","text":"@HStylesPrivt_
        OF COURSE YOU ARE ON MY THANK YOU LIST HELLO YOU''RE THE ONE BEHIND MY DREAM:)
        https:\/\/t.co\/Dw3WjhvJte","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":3207496582,"in_reply_to_user_id_str":"3207496582","in_reply_to_screen_name":"HStylesPrivt_","user":{"id":826593025,"id_str":"826593025","name":"HARRY
        FOLLOW MEGAN","screen_name":"hesborn94andi98","location":"Living life!","description":"Love
        God +things get better don''t worry! You can, just keep pushing! Sending love
        xx meganslonemusic@gmail.com is my contact info for singing :)","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2628,"friends_count":3024,"listed_count":14,"created_at":"Sun
        Sep 16 06:03:59 +0000 2012","favourites_count":23370,"utc_offset":-25200,"time_zone":"Arizona","geo_enabled":false,"verified":false,"statuses_count":48223,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/659933888584658944\/04--ZGCG_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/659933888584658944\/04--ZGCG_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/826593025\/1440807016","profile_link_color":"9266CC","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"HStylesPrivt_","name":"Harry
        Styles.","id":3207496582,"id_str":"3207496582","indices":[0,14]}],"urls":[],"media":[{"id":663193874387464192,"id_str":"663193874387464192","indices":[93,116],"media_url":"http:\/\/pbs.twimg.com\/media\/CTQjUKQUcAA1dph.png","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTQjUKQUcAA1dph.png","url":"https:\/\/t.co\/Dw3WjhvJte","display_url":"pic.twitter.com\/Dw3WjhvJte","expanded_url":"http:\/\/twitter.com\/hesborn94andi98\/status\/663193875847118848\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":205,"resize":"fit"},"large":{"w":1024,"h":351,"resize":"fit"},"small":{"w":340,"h":116,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"result_type":"recent","iso_language_code":"ko"},"created_at":"Sun
        Nov 08 03:18:32 +0000 2015","id":663193861485821953,"id_str":"663193861485821953","text":"You''re  my
        dream-based poem.\n\n151104 \ud55c\uc911\uac00\uc694\uc81c #\ubc29\ud0c4\uc18c\ub144\ub2e8
        #\ub0a8\uc900 #\uc815\uad6d #\uc81c\uc774\ud649 @BTS_twt https:\/\/t.co\/1YEMnmIIQn","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwi[...]
- request:
    method: get
    uri: http://pbs.twimg.com/media/CTQjUKQUcAA1dph.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - 3H0TcmVeddOHScCBZ8p/hg==
      Last-Modified:
      - Sun, 08 Nov 2015 03:18:35 GMT
      X-Connection-Hash:
      - a529e0ba77117cd5c031dddf2968094a
      X-Response-Time:
      - '21'
      Content-Type:
      - image/png
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAAlYAAADNCAYAAAB6mz62AAAgAElEQVR4Xuy9
        aZBlyXUe9r19X2vfuqr3nu5ZegDMYLAMhsJKgDTJUISCDMqkSZOUrLBky1JI
        DtnSD9sKy79kyRGyHY6waJkSzcUSCYmLKYAgDRDAYNaemd636q696tXb993[...]
