---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="31e0f55dc28d41922ee4ca9c9f29832b",
        oauth_signature="blnwcjeJbxRZg5wpOMa3ogLDSUc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446952746", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 08 Nov 2015 03:19:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 1261c367f7a418a670d23f0292773130
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1446953644'
      X-Response-Time:
      - '430'
      X-Transaction:
      - c4fa3ebe9ef3a203
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 03:18:46 +0000 2015","id":663193917232439296,"id_str":"663193917232439296","text":"DREAM
        BIG! https:\/\/t.co\/4i3XTMNFZB","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1041587461,"id_str":"1041587461","name":"Federico
        Spagnoli","screen_name":"federicowonder","location":"Milano, Lombardia","description":"Cantante,
        Pianista e Compositore - Singer, Pianist and Songwriter - Cantante, Pianista
        y Compositor","url":"https:\/\/t.co\/9bQEC0EvGY","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/9bQEC0EvGY","expanded_url":"https:\/\/m.facebook.com\/profile.php?id=1457042411231729","display_url":"m.facebook.com\/profile.php?id\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":26,"friends_count":67,"listed_count":0,"created_at":"Fri
        Dec 28 07:23:16 +0000 2012","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":88,"lang":"it","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/649203638167060481\/JqDml-Fz_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/649203638167060481\/JqDml-Fz_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1041587461\/1443628957","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":{"id":"d77d57fb270e118f","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/d77d57fb270e118f.json","place_type":"city","name":"Bresso","full_name":"Bresso,
        Lombardia","country_code":"IT","country":"Italia","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[9.1780589,45.5270772],[9.2103986,45.5270772],[9.2103986,45.5461276],[9.1780589,45.5461276]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":663193915479191552,"id_str":"663193915479191552","indices":[11,34],"media_url":"http:\/\/pbs.twimg.com\/media\/CTQjWjVWcAAsdFp.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTQjWjVWcAAsdFp.jpg","url":"https:\/\/t.co\/4i3XTMNFZB","display_url":"pic.twitter.com\/4i3XTMNFZB","expanded_url":"http:\/\/twitter.com\/federicowonder\/status\/663193917232439296\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":255,"resize":"fit"},"medium":{"w":600,"h":450,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":720,"h":541,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 03:18:36 +0000 2015","id":663193875847118848,"id_str":"663193875847118848","text":"@HStylesPrivt_
        OF COURSE YOU ARE ON MY THANK YOU LIST HELLO YOU''RE THE ONE BEHIND MY DREAM:)
        https:\/\/t.co\/Dw3WjhvJte","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":3207496582,"in_reply_to_user_id_str":"3207496582","in_reply_to_screen_name":"HStylesPrivt_","user":{"id":826593025,"id_str":"826593025","name":"HARRY
        FOLLOW MEGAN","screen_name":"hesborn94andi98","location":"Living life!","description":"Love
        God +[...]
