---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="2c7fb54ad454be2e3399048a74d3ca02",
        oauth_signature="EWAGyyyPjCyf0%2BDxmFrLJq6VXAk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446956536", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 08 Nov 2015 04:22:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 8f09cb2523516ff975fa87db40eda992
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1446956744'
      X-Response-Time:
      - '589'
      X-Transaction:
      - dd734d86f100a5b3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 04:21:44 +0000 2015","id":663209763069558784,"id_str":"663209763069558784","text":"then
        she''s pregnant &amp; all you see is *oh my goodness it''s a dream come true
        we''re so in love it''s a blessing* \ud83d\udc8d https:\/\/t.co\/YMGWqUdEzY","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":44830117,"id_str":"44830117","name":".","screen_name":"d0mkaay","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":733,"friends_count":327,"listed_count":2,"created_at":"Fri
        Jun 05 05:32:52 +0000 2009","favourites_count":2674,"utc_offset":-28800,"time_zone":"America\/Los_Angeles","geo_enabled":false,"verified":false,"statuses_count":54712,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FF6699","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/318374729\/tumblr_lpmhp2axQa1qd80r9o1_400.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/318374729\/tumblr_lpmhp2axQa1qd80r9o1_400.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/662504971217141761\/DOHcRGmA_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/662504971217141761\/DOHcRGmA_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/44830117\/1444802229","profile_link_color":"B40B43","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"362720","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":663209760657813504,"id_str":"663209760657813504","indices":[116,139],"media_url":"http:\/\/pbs.twimg.com\/media\/CTQxw3OUsAAy_EC.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTQxw3OUsAAy_EC.jpg","url":"https:\/\/t.co\/YMGWqUdEzY","display_url":"pic.twitter.com\/YMGWqUdEzY","expanded_url":"http:\/\/twitter.com\/d0mkaay\/status\/663209763069558784\/photo\/1","type":"photo","sizes":{"medium":{"w":600,"h":263,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":149,"resize":"fit"},"large":{"w":600,"h":263,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Nov 08 04:21:33 +0000 2015","id":663209720187125760,"id_str":"663209720187125760","text":"the
        dream team https:\/\/t.co\/h8ryYvoUeu","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_u[...]
- request:
    method: get
    uri: http://pbs.twimg.com/media/CTQxw3OUsAAy_EC.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - sazSF1oMoP/PgLYAtMfYfQ==
      Last-Modified:
      - Sun, 08 Nov 2015 04:21:43 GMT
      X-Connection-Hash:
      - 29abaaf0f237ff7e86b08086eea32ff8
      X-Response-Time:
      - '14'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAASABIAAD/2wBDAAQEBAQEBAcEBAcKBwcHCg0KCgoK
        DRANDQ0NDRAUEBAQEBAQFBQUFBQUFBQYGBgYGBgcHBwcHB8fHx8fHx8fHx//
        2wBDAQUFBQgHCA4HBw4gFhIWICAgICAgICAgICAgICAgICAgICAgICAgIC[...]
- request:
    method: post
    uri: https://dreamscopeapp.com/api/images
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        LS05Mzg1MTcNCkNvbnRlbnQtRGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFt
        ZT0iZmlsdGVyIg0KDQp3YXRlcmNvbG9yX21hbmV0X3BvcnRyYWl0DQotLTkz
        ODUxNw0KQ29udGVudC1EaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJp
        bWFnZSI7IGZpbGVuYW1lPSJkcmVhbV9DVFF4dzNPVXNBQXlfRUMuanBnIg0K
        Q29udGVudC1UeXBlOiBpbWFnZS9qcGVnDQoNCv/Y/+AAEEpGSUYAAQEAAEgA
        SAAA/9sAQwA[...]
- request:
    method: get
    uri: https://dreamscopeapp.com/api/images/gjpCwF0oS_
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"processing_status": 0, "profile_id": null, "private": false, "total_likes":
        0, "likes": [], "uuid": "gjpCwF0oS_", "title": "", "share_url": "https://dreamscopeapp.com/i/gjpCwF0oS_",
        "comments": [], "direct_url": "", "profile": null, "friendly_total_likes":
        "0", "description": "", "friendly_date": " 1 minute", "last_modified": "2015-11-08
        04:20:59.407790+00:00", "filtered_thumbnail_url": "", "filter_name": "watercolor_manet_portrait",
        "created_ts": 1446956459407772.0, "filtered_url": "", "created": "2015-11-08
        04:20:59.407772+00:00", "original_url": "https://dreamscope-prod-v1.s3.amazonaws.com/images/12fde30b-5d64-4795-9308-1ac933452ec7.jpeg",
        "nsfw": true}'
  recorded_at: Sun, 08 Nov 2015 04:22:20 GMT
[...]
- request:
    method: get
    uri: https://dreamscope-prod-v1.s3.amazonaws.com/images/10aea1e1-b9fe-4646-a97b-4af67b16c3e1.jpeg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 04BD42011C4FD06A
      Last-Modified:
      - Sun, 08 Nov 2015 04:23:24 GMT
      Etag:
      - '"35fc0972c8ffa1e27403f83c9ce8de70"'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
        DBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/
        2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAEHAlgDASIAAhEBAxEB/8QA
        HwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUF
        [...]
