<h3>Our Gecko robots are working hard on their magic.</h3>

<h2>Please select your choice to post weather forecast to Twitter

</h2>

<h2>
	<%= link_to "My location weather forecast", send_weather_path, class: 'button' %>

	<br>

	<%= link_to "Random location weather forecast", random_send_weather_path, class: 'button' %>	
</h2>
