---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=@SomethingReallyRandomSoThatThereWillBeNoTweetFound%20-RT&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="1261297f9c4dec4c0467f06cf2848211",
        oauth_signature="eK1bNhsbpvt109RTR6WAJq9DkpA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1447773386", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 17 Nov 2015 15:16:29 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4225d0ae8fd305e99d0c97db4842e9a2
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1447774003'
      X-Response-Time:
      - '25'
      X-Transaction:
      - c83f8925cf1cf946
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.01,"max_id":666635955298635776,"max_id_str":"666635955298635776","query":"%40SomethingReallyRandomSoThatThereWillBeNoTweetFound+-RT","refresh_url":"?since_id=666635955298635776&q=%40SomethingReallyRandomSoThatThereWillBeNoTweetFound%20-RT&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Tue, 17 Nov 2015 15:16:29 GMT
recorded_with: VCR 2.9.3
