---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="6a89fafb90f3c4f019118c28447aaa69",
        oauth_signature="5UksdhdrObnp%2FwEZlBXsbD8qlDA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446936295", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 07 Nov 2015 22:44:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - cebf6c81968c1d97c593f8f91fa2cf41
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '127'
      X-Rate-Limit-Reset:
      - '1446936724'
      X-Response-Time:
      - '290'
      X-Transaction:
      - 8a68b05d269de82c
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Nov 07 22:44:33 +0000 2015","id":663124909489594372,"id_str":"663124909489594372","text":"1954
        modern dream house over cow pasture Alajalov art New Yorker cover https:\/\/t.co\/c6UdSf2Wdw
        https:\/\/t.co\/G0JpusOTk8","source":"\u003ca href=\"http:\/\/ifttt.com\"
        rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3165450939,"id_str":"3165450939","name":"extremely
        sensationa","screen_name":"schegataurino","location":"","description":"extremely
        sensational offers","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":87,"friends_count":40,"listed_count":42,"created_at":"Tue
        Apr 14 00:04:28 +0000 2015","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":94972,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/587769529880731648\/i9G7GdXF_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/587769529880731648\/i9G7GdXF_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3165450939\/1428970159","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/c6UdSf2Wdw","expanded_url":"http:\/\/spain-travel-now.info\/sn\/re\/?query=311480975463","display_url":"spain-travel-now.info\/sn\/re\/?query=3\u2026","indices":[71,94]}],"media":[{"id":663124909405655041,"id_str":"663124909405655041","indices":[95,118],"media_url":"http:\/\/pbs.twimg.com\/media\/CTPkl3rWUAEhGT3.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTPkl3rWUAEhGT3.jpg","url":"https:\/\/t.co\/G0JpusOTk8","display_url":"pic.twitter.com\/G0JpusOTk8","expanded_url":"http:\/\/twitter.com\/schegataurino\/status\/663124909489594372\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":218,"h":300,"resize":"fit"},"medium":{"w":218,"h":300,"resize":"fit"},"small":{"w":218,"h":300,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Nov 07 22:44:31 +0000 2015","id":663124901470040064,"id_str":"663124901470040064","text":"3
        Sega Genesis Consoles 16 Bit Bundle 30 Games 4 Controllers 2 Dream Cast  MORE
        - Bid Now!\u2026 https:\/\/t.co\/6ibNHPrVmJ https:\/\/t.co\/f9PCSnTbYS","source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status[...]
