---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="922db044223680af303e4445add4c3bc",
        oauth_signature="KFSvV%2BuI2HnFGotvzAiV27sHPAk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446956763", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 08 Nov 2015 04:26:04 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 028c4763435ff71d2bff7c1226ab27df
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1446957662'
      X-Response-Time:
      - '310'
      X-Transaction:
      - 12d1ec494269761f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"ja","result_type":"recent"},"created_at":"Sun
        Nov 08 04:25:40 +0000 2015","id":663210755529969665,"id_str":"663210755529969665","text":"11\/8\u4eca\u6c60\u30bb\u30ab\u30f3\u30c9\u30d3\u30b8\u30e7\u30f3dream
        catcher vol2\n\n\u672c\u65e5\u306e\u30b7\u30fc\u30af\u30ec\u30c3\u30c8\u30d0\u30f3\u30c9\u306f\u540d\u53e4\u5c4b\u30dd\u30c3\u30d7\u30d1\u30f3\u30af\nRaysing
        La Vowna\uff01\uff01\n\n\u7686\u3055\u3093\u4e00\u7dd2\u306b\u76db\u308a\u4e0a\u304c\u308a\u307e\u3057\u3087\u3046\uff01\uff01\n\u304a\u5f85\u3061\u3057\u3066\u307e\u3059\uff01
        https:\/\/t.co\/SKxs5wlMhU","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2954664547,"id_str":"2954664547","name":"OUTSTANDING","screen_name":"OUTSTANDING1997","location":"\u5c90\u961c","description":"\u5c90\u961c\u306e\u5e73\u5747\u5e74\u9f6217\u6b73\uff01\u30df\u30af\u30b9\u30c1\u30e3\u30fc\u30d0\u30f3\u30c9OUTSTANDING\u3067\u3059\uff01                                 Gt\/Vo.\u3010@becomeahosomi\u3011                                  Dr.
        \u3010@NZK_19\u3011       Ba.\u3010@bass_kouen_\u3011","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":308,"friends_count":338,"listed_count":0,"created_at":"Thu
        Jan 01 10:11:27 +0000 2015","favourites_count":5,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":169,"lang":"ja","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/561467525251076096\/rVLN267D_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/561467525251076096\/rVLN267D_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2954664547\/1427252118","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":663210731559477248,"id_str":"663210731559477248","indices":[104,127],"media_url":"http:\/\/pbs.twimg.com\/media\/CTQypYHUYAAZHza.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTQypYHUYAAZHza.jpg","url":"https:\/\/t.co\/SKxs5wlMhU","display_url":"pic.twitter.com\/SKxs5wlMhU","expanded_url":"http:\/\/twitter.com\/OUTSTANDING1997\/status\/663210755529969665\/photo\/1","type":"photo","sizes":{"large":{"w":1024,"h":666,"resize":"fit"},"medium":{"w":600,"h":390,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":340,"h":221,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"ja"},{"metadata":{"iso_language_code":"tl","result_type":"recent"},"created_at":"Sun
        Nov 08 04:25:38 +0000 2015","id":663210747191623680,"id_str":"663210747191623680","text":"Dream
        come true na malagay kami ni @kayexcangayda sa candy magazine soo... \ud83e\udd18\ud83c\udffb\ud83d\ude48\ud83d\ude0d
        @iamsofiaandres @bernardokath https:\/\/t.co\/M3boMGCy73","source":"\u003ca
        href=\"http:\/\/twitter.com\/#!\/download\/ipad\" rel=\"nofollow\"\u003eTwitter[...]
