---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=test%20topic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="erf2kV92kxX7STWNLCPbDCmDh", oauth_nonce="ba569e94203e3aa28ee8dca823e00d93",
        oauth_signature="tll9S7oe7M%2FLCZG2tKH5cD72kd4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417110477", oauth_token="2910937406-LUJhn6xzSsxwPAyM7haLCvjYgUAZj5iBnKFtVdx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 27 Nov 2014 17:47:58 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a47b11af8ed4c0148c88705be6df00f3
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1417111378'
      X-Transaction:
      - ea11391b428bb522
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Nov 27 17:39:03 +0000 2014","id":538024214696300544,"id_str":"538024214696300544","text":"@sheismylobster
        I had my chemistry test today! I am kinda good but Idk it depends on what
        you''re studying \ud83d\ude48 what''s the topic?","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":538023445020549121,"in_reply_to_status_id_str":"538023445020549121","in_reply_to_user_id":2371885861,"in_reply_to_user_id_str":"2371885861","in_reply_to_screen_name":"sheismylobster","user":{"id":1380156014,"id_str":"1380156014","name":"ale","screen_name":"ohmyjustifer","location":"\u25b3
        hogwarts haha joke, italy \u25b3","profile_location":null,"description":"i
        don\u2019t need you, i need jennifer aniston","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2462,"friends_count":725,"listed_count":12,"created_at":"Thu
        Apr 25 18:45:35 +0000 2013","favourites_count":11803,"utc_offset":3600,"time_zone":"Rome","geo_enabled":true,"verified":false,"statuses_count":32181,"lang":"it","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/513431426226585600\/ViYmUIAt.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/513431426226585600\/ViYmUIAt.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/535483350015041538\/fnIXiGgJ_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/535483350015041538\/fnIXiGgJ_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1380156014\/1416504153","profile_link_color":"343942","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"sheismylobster","name":"Damy","id":2371885861,"id_str":"2371885861","indices":[0,15]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"fr","result_type":"recent"},"created_at":"Thu
        Nov 27 17:32:42 +0000 2014","id":538022618821971968,"id_str":"538022618821971968","text":"Test
        : avez-vous une bonne oreille ? http:\/\/t.co\/twhAWfOBdS","source":"\u003ca
        href=\"http:\/\/twitterfeed.com\" rel=\"nofollow\"\u003etwitterfeed\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":261750154,"id_str":"261750154","name":"WarezienS","screen_name":"WarezienS","location":"Paris
        (75), FRANCE","profile_location":null,"description":"Wareziens est un forum
        d''entraide, d''\u00e9change, de discussion libre et d''actualit\u00e9 ax\u00e9e
        sur l''underground, warez & web. Rejoignez-nous !","url":"http:\/\/t.co\/gJglLdn7Hr","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/gJglLdn7Hr","expanded_url":"http:\/\/www.wareziens.net","display_url":"wareziens.net","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1072,"friends_count":1842,"listed_count":24,"created_at":"Sun
        Mar 06 16:37:51 +0000 2011","favourites_count":1,"utc_offset":3600,"time_zone":"Paris","geo_enabled":true,"verified":false,"statuses_count":3586,"lang":"fr","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/[...]
