---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="0def5a7758ab2bfbdc7cf54c60c15e4b",
        oauth_signature="%2FxNlU8g54XjUTDMn4jZDuYw6y9c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1447276289", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 11 Nov 2015 21:11:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 4310e16f5f905e56699bf534a8a47071
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1447276946'
      X-Response-Time:
      - '316'
      X-Transaction:
      - c299bfa9742a3bde
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Nov 11 21:11:06 +0000 2015","id":664550942675701760,"id_str":"664550942675701760","text":"\u2665Hi
        my queen @lodocomello \u2665 My dream is meet with you and photo with you
        \u2665 You are my sweet love \u2665 I love you \u2665\u2605 https:\/\/t.co\/UizJKHmcDw
        \u2665\u2605\u2661","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2807367856,"id_str":"2807367856","name":"TiniStRep\u00fablicaCheca","screen_name":"FansTini_Czech","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":927,"friends_count":798,"listed_count":7,"created_at":"Sun
        Oct 05 10:27:07 +0000 2014","favourites_count":2263,"utc_offset":3600,"time_zone":"Ljubljana","geo_enabled":true,"verified":false,"statuses_count":167436,"lang":"cs","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/565927686388740096\/KzvwuU95.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/565927686388740096\/KzvwuU95.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/664320205909336064\/64gxK4iv_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/664320205909336064\/64gxK4iv_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2807367856\/1446828552","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"lodocomello","name":"Lodovica
        Comello","id":430818412,"id_str":"430818412","indices":[13,25]}],"urls":[],"media":[{"id":653192948230713344,"id_str":"653192948230713344","indices":[113,136],"media_url":"http:\/\/pbs.twimg.com\/media\/CRCbhpEU8AAvho0.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CRCbhpEU8AAvho0.jpg","url":"https:\/\/t.co\/UizJKHmcDw","display_url":"pic.twitter.com\/UizJKHmcDw","expanded_url":"http:\/\/twitter.com\/FansTini_Czech\/status\/653192976542339073\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":800,"h":800,"resize":"fit"}},"source_status_id":653192976542339073,"source_status_id_str":"653192976542339073","source_user_id":2807367856,"source_user_id_str":"2807367856"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Nov 11 21:11:03 +0000 2015","id":664550931913043968,"id_str":"664550931913043968","text":"Computational
        Romanticism and the Dream Life of Driverless Cars https:\/\/t.co\/QlXI60p54t
        https:\/\/t.co\/wLurYNxym2","source":"\u003ca href=\"http:\/\/www.rr.com\"
        rel=\"nofollow\"\u003eRRPostingApp\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3170710933,"id_str":"3170710933","name":"Landscape
        Architectr","screen_name":"LandscapeArcRR","location":"","description":"Live
        content curated Landscape Architecture influen[...]
- request:
    method: get
    uri: http://pbs.twimg.com/media/CRCbhpEU8AAvho0.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - 1eFzlcs4FFclYJTZBsGqqw==
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Sun, 11 Oct 2015 12:58:29 GMT
      Surrogate-Key:
      - media media/bucket/2 media/653192948230713344
      X-Connection-Hash:
      - 3197ee267f21ee0ac9e57f5091104956
      X-Response-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
        DBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/
        2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAJYAlgDASIAAhEBAxEB/8QA
     [...]
- request:
    method: post
    uri: https://dreamscopeapp.com/api/images
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        LS04NTM1NjUNCkNvbnRlbnQtRGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFt
        ZT0iZmlsdGVyIg0KDQpib3RhbmljYWxfZGltZW5zaW9ucw0KLS04NTM1NjUN
        CkNvbnRlbnQtRGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFtZT0iaW1hZ2Ui
        OyBmaWxlbmFtZT0iZHJlYW1fQ1JDYmhwRVU4QUF2aG8wLmpwZyINCkNvbnRl
        bnQtVHlwZTogaW1hZ2UvanBlZw0KDQr/2P/gABBKRklGAAEBAAABAAEAAP/b
        AEMACAYGBwY[...]
- request:
    method: get
    uri: https://dreamscopeapp.com/api/images/k4VyccaRRv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"processing_status": 0, "profile_id": null, "private": false, "total_likes":
        0, "likes": [], "uuid": "k4VyccaRRv", "title": "", "share_url": "https://dreamscopeapp.com/i/k4VyccaRRv",
        "comments": [], "direct_url": "", "profile": null, "friendly_total_likes":
        "0", "description": "", "friendly_date": "", "last_modified": "2015-11-11
        21:11:18.322736+00:00", "filtered_thumbnail_url": "", "filter_name": "botanical_dimensions",
        "created_ts": 1447276278322721.0, "filtered_url": "", "created": "2015-11-11
        21:11:18.322721+00:00", "original_url": "https://dreamscope-prod-v1.s3.amazonaws.com/images/83d276e5-4853-4ae1-b4f2-a276029e2cb6.jpeg",
        "nsfw": true}'
  recorded_at: Wed, 11 Nov 2015 21:11:33 GMT
[...]
- request:
    method: get
    uri: https://dreamscope-prod-v1.s3.amazonaws.com/images/2eee12ee-140e-4331-aaaa-f73ab5a7921a.jpeg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - E3A5A59751395781
      Last-Modified:
      - Wed, 11 Nov 2015 21:11:35 GMT
      Etag:
      - '"5822a6247d91ede15a1eb42b21a2d70f"'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
        DBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/
        2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAJYAlgDASIAAhEBAxEB/8QA
        HwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUF
        [...]
