---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="0479b2cf42e5d4b974f3f72bc017570c",
        oauth_signature="Eg9f5f0UibH7%2Bk4Fb5lrxqnSmZo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1447276297", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 11 Nov 2015 21:11:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 68182159a82c797e73ff6a30b042f820
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1447276946'
      X-Response-Time:
      - '698'
      X-Transaction:
      - be41cab11e8962a8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Nov 11 21:11:14 +0000 2015","id":664550979292045312,"id_str":"664550979292045312","text":"\u2665Hi
        my queen @lodocomello \u2665 My dream is meet with you and photo with you
        \u2665 You are my sweet love \u2665 I love you \u2665\u2605\u2661 https:\/\/t.co\/UizJKHmcDw
        \u2665\u2661","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2807367856,"id_str":"2807367856","name":"TiniStRep\u00fablicaCheca","screen_name":"FansTini_Czech","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":927,"friends_count":798,"listed_count":7,"created_at":"Sun
        Oct 05 10:27:07 +0000 2014","favourites_count":2263,"utc_offset":3600,"time_zone":"Ljubljana","geo_enabled":true,"verified":false,"statuses_count":167437,"lang":"cs","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/565927686388740096\/KzvwuU95.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/565927686388740096\/KzvwuU95.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/664320205909336064\/64gxK4iv_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/664320205909336064\/64gxK4iv_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2807367856\/1446828552","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"lodocomello","name":"Lodovica
        Comello","id":430818412,"id_str":"430818412","indices":[13,25]}],"urls":[],"media":[{"id":653192948230713344,"id_str":"653192948230713344","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/CRCbhpEU8AAvho0.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CRCbhpEU8AAvho0.jpg","url":"https:\/\/t.co\/UizJKHmcDw","display_url":"pic.twitter.com\/UizJKHmcDw","expanded_url":"http:\/\/twitter.com\/FansTini_Czech\/status\/653192976542339073\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":800,"h":800,"resize":"fit"}},"source_status_id":653192976542339073,"source_status_id_str":"653192976542339073","source_user_id":2807367856,"source_user_id_str":"2807367856"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Nov 11 21:11:10 +0000 2015","id":664550961596276737,"id_str":"664550961596276737","text":"Dear
        dream of us.@GaryBarlow our dream it''s you come to France please #TTtoFrance
        you can realize our dream ?:''( &lt;3 https:\/\/t.co\/caDDHHy2H8","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_rep[...]
