---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=dream%20-RT%20filter:images&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<twitter_consumer_key>", oauth_nonce="d2b83c6345828afd2237e0aa53aeba03",
        oauth_signature="uX3gbYUtdqjIBYpf7i8lIPZP%2BPs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1447276227", oauth_token="<twitter_access_token>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 11 Nov 2015 21:10:26 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 54b4840762c1c9b05cb83099121a74bb
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1447276946'
      X-Response-Time:
      - '327'
      X-Transaction:
      - e2f749282b95511a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Nov 11 21:10:06 +0000 2015","id":664550691340337152,"id_str":"664550691340337152","text":"Christmas
        with the family from 2766.36 Euro at Dream Hotel Gran Castillo 5, Spain from\u2026
        https:\/\/t.co\/4CnQcvjV6A https:\/\/t.co\/1oWzmjbPPj","source":"\u003ca href=\"http:\/\/publicize.wp.com\/\"
        rel=\"nofollow\"\u003eWordPress.com\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":114610368,"id_str":"114610368","name":"My
        Secret Vault","screen_name":"mysecretvault","location":"England, United Kingdom","description":"Essentials
        for your baby","url":"http:\/\/t.co\/GjG4nisbwM","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/GjG4nisbwM","expanded_url":"http:\/\/www.babyessentials.org.uk","display_url":"babyessentials.org.uk","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":374,"friends_count":881,"listed_count":69,"created_at":"Tue
        Feb 16 01:26:07 +0000 2010","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":88386,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/637303839025143809\/ypOKXvCh_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/637303839025143809\/ypOKXvCh_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/114610368\/1440780095","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/4CnQcvjV6A","expanded_url":"http:\/\/offercodes.club\/christmas-with-the-family-from-2766-36-euro-at-dream-hotel-gran-castillo-5-spain-from-dream-place-hotels\/","display_url":"offercodes.club\/christmas-with\u2026","indices":[88,111]}],"media":[{"id":664550689666760704,"id_str":"664550689666760704","indices":[112,135],"media_url":"http:\/\/pbs.twimg.com\/media\/CTj1VNDUAAAcuDQ.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CTj1VNDUAAAcuDQ.jpg","url":"https:\/\/t.co\/1oWzmjbPPj","display_url":"pic.twitter.com\/1oWzmjbPPj","expanded_url":"http:\/\/twitter.com\/mysecretvault\/status\/664550691340337152\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":226,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":400,"h":267,"resize":"fit"},"medium":{"w":400,"h":267,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Nov 11 21:10:05 +0000 2015","id":664550687276212229,"id_str":"664550687276212229","text":"With
        Kerry King !! A dream come true !! #Repentless @Slayer https:\/\/t.co\/7gTqG8WsR1","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_u[...]
- request:
    method: get
    uri: http://pbs.twimg.com/media/CTj1VNDUAAAcuDQ.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Md5:
      - hvjbuLaTKKHABVJBlISeDw==
      Content-Type:
      - image/jpeg
      Last-Modified:
      - Wed, 11 Nov 2015 21:10:05 GMT
      Surrogate-Key:
      - media media/bucket/5 media/664550689666760704
      X-Connection-Hash:
      - 7b67b97761a7aabf7d1db4e986edda7d
      X-Response-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcH
        Bw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/
        2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4e
        Hh4eHh4eHh4eHh4eHh4eHh4eHh4eHh7/wAARCAELAZADASIAAhEBAxEB/8QA
     [...]
- request:
    method: post
    uri: https://dreamscopeapp.com/api/images
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        LS04NTc5NTkNCkNvbnRlbnQtRGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFt
        ZT0iZmlsdGVyIg0KDQpzdGFycnlfbmlnaHRfbGFuZHNjYXBlDQotLTg1Nzk1
        OQ0KQ29udGVudC1EaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJpbWFn
        ZSI7IGZpbGVuYW1lPSJkcmVhbV9DVGoxVk5EVUFBQWN1RFEuanBnIg0KQ29u
        dGVudC1UeXBlOiBpbWFnZS9qcGVnDQoNCv/Y/+AAEEpGSUYAAQEAAAEAAQAA
        /9sAQwAFAwQ[...]
- request:
    method: get
    uri: https://dreamscopeapp.com/api/images/SfGeALGrQL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"processing_status": 0, "profile_id": null, "private": false, "total_likes":
        0, "likes": [], "uuid": "SfGeALGrQL", "title": "", "share_url": "https://dreamscopeapp.com/i/SfGeALGrQL",
        "comments": [], "direct_url": "", "profile": null, "friendly_total_likes":
        "0", "description": "", "friendly_date": "Just now", "last_modified": "2015-11-11
        21:10:16.313185+00:00", "filtered_thumbnail_url": "", "filter_name": "starry_night_landscape",
        "created_ts": 1447276216313171.0, "filtered_url": "", "created": "2015-11-11
        21:10:16.313171+00:00", "original_url": "https://dreamscope-prod-v1.s3.amazonaws.com/images/f28ac66a-3f28-4fe4-a064-3fe2c6949bca.jpeg",
        "nsfw": true}'
  recorded_at: Wed, 11 Nov 2015 21:10:31 GMT
[...]
- request:
    method: get
    uri: https://dreamscope-prod-v1.s3.amazonaws.com/images/ab23fe90-d4d1-457d-8e41-85e59e7ec676.jpeg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 1874901364E2D4CA
      Last-Modified:
      - Wed, 11 Nov 2015 21:11:26 GMT
      Etag:
      - '"e17c81d5e3ee743fb6ba8cb83b3341aa"'
      Content-Type:
      - image/jpeg
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsL
        DBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/
        2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAEsAcEDASIAAhEBAxEB/8QA
        HwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUF
        [...]
