---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=50&q=Penguins%20Of%20Madagascar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="erf2kV92kxX7STWNLCPbDCmDh", oauth_nonce="e96b9ffcdc8e57d3fa389c15e9669c4c",
        oauth_signature="SfnlY4gL%2F4N7zajzgdH5V9pvfaw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417110517", oauth_token="2910937406-LUJhn6xzSsxwPAyM7haLCvjYgUAZj5iBnKFtVdx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 27 Nov 2014 17:48:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3708338fdc392b587e781da3076e9e15
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1417111378'
      X-Transaction:
      - 4f836f3f5f166633
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Nov 27 17:47:44 +0000 2014","id":538026399806681088,"id_str":"538026399806681088","text":"@Luke5SOS
        are you going to watch Penguins of Madagascar in theaters today?","source":"\u003ca
        href=\"http:\/\/twitter.com\/#!\/download\/ipad\" rel=\"nofollow\"\u003eTwitter
        for iPad\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":403245020,"in_reply_to_user_id_str":"403245020","in_reply_to_screen_name":"Luke5SOS","user":{"id":2685938774,"id_str":"2685938774","name":"5sos_love","screen_name":"s_haynes37","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":19,"friends_count":55,"listed_count":0,"created_at":"Sun
        Jul 27 21:00:59 +0000 2014","favourites_count":3973,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":112,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/493800302928072704\/NQ7gOJhn_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/493800302928072704\/NQ7gOJhn_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2685938774\/1416962654","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"Luke5SOS","name":"Luke
        Hemmings","id":403245020,"id_str":"403245020","indices":[0,9]}],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Nov 27 17:47:38 +0000 2014","id":538026374494425089,"id_str":"538026374494425089","text":"Strictly
        for Herzog completists.\n\nhttp:\/\/t.co\/qTY9gLuAui http:\/\/t.co\/O62oCsK9CV","source":"\u003ca
        href=\"http:\/\/www.facebook.com\/twitter\" rel=\"nofollow\"\u003eFacebook\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":187021369,"id_str":"187021369","name":"SD
        Film Critics","screen_name":"sdfilmcritics","location":"San Diego, CA","profile_location":null,"description":"The
        San Diego Film Critics Society comprises print, radio, TV and digital film
        critics working in SDCounty. Screenings, events, awards, scholastic support.","url":"http:\/\/t.co\/zk1d8PV2w5","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/zk1d8PV2w5","expanded_url":"http:\/\/www.sdfcs.org","display_url":"sdfcs.org","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":387,"friends_count":101,"listed_count":20,"created_at":"Sun
        Sep 05 01:39:42 +0000 2010","favourites_count":0,"utc_offset":-32400,"time_zone":"Alaska","geo_enabled":false,"verified":false,"statuses_count":821,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/ima[...]
- request:
    method: post
    uri: http://access.alchemyapi.com/calls/text/TextGetTextSentiment
    body:
      encoding: US-ASCII
      string: text=%40Luke5SOS+are+you+going+to+watch+Penguins+of+Madagascar+in+theaters+today%3F&apikey=25b191271f34bc9119e47658114705613f9ffbb6&outputMode=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - '12.02'
      X-Alchemyapi-Key:
      - 25b191271f34bc9119e47658114705613f9ffbb6
      X-Alchemyapi-Status:
      - OK
      X-Alchemyapi-Text-Content-Size:
      - '74'
      X-Alchemyapi-Total-Transactions:
      - '1'
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"url\": \"\",\r\n    \"language\": \"english\",\r\n    \"docSentiment\":
        {\r\n        \"type\": \"negative\",\r\n        \"score\": \"-0.288572\"\r\n
        \   }\r\n}\r\n"
  recorded_at: Thu, 27 Nov 2014 17:48:39 GMT
[...]
- request:
    method: post
    uri: http://access.alchemyapi.com/calls/text/TextGetTextSentiment
    body:
      encoding: US-ASCII
      string: text=http%3A%2F%2Ft.co%2FGhgcYFALKA&apikey=25b191271f34bc9119e47658114705613f9ffbb6&outputMode=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - '12.02'
      X-Alchemyapi-Error-Msg:
      - unsupported-text-language
      X-Alchemyapi-Key:
      - 25b191271f34bc9119e47658114705613f9ffbb6
      X-Alchemyapi-Status:
      - ERROR
      X-Alchemyapi-Text-Content-Size:
      - '22'
      X-Alchemyapi-Total-Transactions:
      - '1'
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"ERROR\",\r\n    \"statusInfo\": \"unsupported-text-language\",\r\n
        \   \"usage\": \"By accessing AlchemyAPI or using information generated by
        AlchemyAPI, you are agreeing to be bound by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"url\": \"\",\r\n    \"language\": \"unknown\"\r\n}\r\n"
  recorded_at: Thu, 27 Nov 2014 17:48:40 GMT
[...]
- request:
    method: post
    uri: http://access.alchemyapi.com/calls/text/TextGetTextSentiment
    body:
      encoding: US-ASCII
      string: text=I+want+to+see+Penguins+of+Madagascar+so+bad&apikey=25b191271f34bc9119e47658114705613f9ffbb6&outputMode=json
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - '12.02'
      X-Alchemyapi-Key:
      - 25b191271f34bc9119e47658114705613f9ffbb6
      X-Alchemyapi-Status:
      - OK
      X-Alchemyapi-Text-Content-Size:
      - '43'
      X-Alchemyapi-Total-Transactions:
      - '1'
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"url\": \"\",\r\n    \"language\": \"english\",\r\n    \"docSentiment\":
        {\r\n        \"type\": \"negative\",\r\n        \"score\": \"-0.743852\"\r\n
        \   }\r\n}\r\n"
  recorded_at: Thu, 27 Nov 2014 17:48:45 GMT
recorded_with: VCR 2.9.3
