---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Content+1
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ijUJ89bOfpiYT9TajorP2gejR", oauth_nonce="4e28119017da84de38da57d2af80eb4c",
        oauth_signature="TSJtGQp8PV2wuLtL2uH3Mb75kmc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1460215227", oauth_token="718430871443759105-1uk0t6RzJH2BIT5accZjUI4gfNaojrS",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 09 Apr 2016 15:20:27 GMT
      Status:
      - 403 Forbidden
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 37abe12269c00677c0992afa9afd614a
      X-Response-Time:
      - '20'
      X-Transaction:
      - 17865311363c6969
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":187,"message":"Status is a duplicate."}]}'
  recorded_at: Sat, 09 Apr 2016 15:20:28 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ijUJ89bOfpiYT9TajorP2gejR", oauth_nonce="adc8b6e5dfda0102b947e35634aeab97",
        oauth_signature="AxauvShcswTJ4lYkvEaCiajcBgc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1460215228", oauth_token="718430871443759105-1uk0t6RzJH2BIT5accZjUI4gfNaojrS",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 09 Apr 2016 15:20:29 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 9fe866420f087178e4152271b18fccb1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1460216129'
      X-Response-Time:
      - '27'
      X-Transaction:
      - fa9149755ff4e31a
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Sat Apr 09 15:19:35 +0000 2016","id":718820660655497218,"id_str":"718820660655497218","text":"Content
        1","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"truncated":false,"source":"\u003ca
        href=\"http:\/\/daebakbot.herokuapp.com\" rel=\"nofollow\"\u003eDaebakbot\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":718430871443759105,"id_str":"718430871443759105","name":"daebakbot","screen_name":"daebakbot","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Fri
        Apr 08 13:30:42 +0000 2016","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":62,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_2_normal.png","profile_link_color":"2B7BB9","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"}]'
  recorded_at: Sat, 09 Apr 2016 15:20:29 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ijUJ89bOfpiYT9TajorP2gejR", oauth_nonce="75713fd8c3a3c961c8f40778952d872d",
        oauth_signature="KWCXv%2F1t2vSRfOXrkRVgp5wBtBo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1460215229", oauth_token="718430871443759105-1uk0t6RzJH2BIT5accZjUI4gfNaojrS",
        oaut[...]
