---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=New+message
    headers:
      Authorization:
      - OAuth oauth_consumer_key="erf2kV92kxX7STWNLCPbDCmDh", oauth_nonce="7818db1bb2d1a939ea22218f824e915f",
        oauth_signature="MBX7zxSNkwftDzHPfXpM9YocSgU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417110479", oauth_token="2910937406-LUJhn6xzSsxwPAyM7haLCvjYgUAZj5iBnKFtVdx",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 27 Nov 2014 17:47:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 31dde511f50e37462084008d9e128170
      X-Transaction:
      - b058223a3c0fe20f
    body:
      encoding: UTF-8
      string: '{"created_at":"Thu Nov 27 17:47:59 +0000 2014","id":538026464034050048,"id_str":"538026464034050048","text":"New
        message","source":"\u003ca href=\"http:\/\/codingops.com\" rel=\"nofollow\"\u003esentwix\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2910937406,"id_str":"2910937406","name":"Kenneth","screen_name":"kennethlimjf","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":3,"listed_count":0,"created_at":"Wed
        Nov 26 13:05:29 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":12,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_6_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"}'
  recorded_at: Thu, 27 Nov 2014 17:47:59 GMT
recorded_with: VCR 2.9.3
