// Place all the styles related to the robots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
  background: #2e3033;
  color: white;
 }


h3 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: lightgreen;
  font-weight: bold;
  font-size: 0.8em;
}
