---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=Rurouni%20Kenshin:%20Kyoto%20Inferno&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="erf2kV92kxX7STWNLCPbDCmDh", oauth_nonce="84c1b9b679466b4edc1c81495c2b1cad",
        oauth_signature="wqjTzzjnevzNEK0RDkjQZyNpJIM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1417267224", oauth_token="2910937406-LUJhn6xzSsxwPAyM7haLCvjYgUAZj5iBnKFtVdx",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 29 Nov 2014 13:20:25 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - cf02830a01b47a3edd2b4241d05d9d8f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1417268077'
      X-Transaction:
      - d18bea04366246f2
    body:
      encoding: UTF-8
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Nov 29 12:43:25 +0000 2014","id":538674594077347840,"id_str":"538674594077347840","text":"#nw
        Rurouni Kenshin : Kyoto Inferno \/ The Legend Ends.","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":51999458,"id_str":"51999458","name":"Amirul
        Asyraf","screen_name":"BudakAbadKe20","location":"Buloh Gading, Malaysia","profile_location":null,"description":"Evergreen
        slim human being.                         #PetehGanuPeteh #KTBFFH","url":"http:\/\/t.co\/F0QTW2VO05","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/F0QTW2VO05","expanded_url":"http:\/\/www.facebook.com\/kulalawormeng","display_url":"facebook.com\/kulalawormeng","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":92,"friends_count":81,"listed_count":0,"created_at":"Mon
        Jun 29 08:18:12 +0000 2009","favourites_count":1226,"utc_offset":28800,"time_zone":"Kuala
        Lumpur","geo_enabled":true,"verified":false,"statuses_count":6211,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"131516","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme14\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/452379337723899904\/qMI5L30o_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/452379337723899904\/qMI5L30o_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/51999458\/1417200118","profile_link_color":"009999","profile_sidebar_border_color":"EEEEEE","profile_sidebar_fill_color":"EFEFEF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":{"type":"Point","coordinates":[5.4362059,100.3105381]},"coordinates":{"type":"Point","coordinates":[100.3105381,5.4362059]},"place":{"id":"527178fc119d340f","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/527178fc119d340f.json","place_type":"city","name":"George
        Town","full_name":"George Town, Timur Laut","country_code":"MY","country":"Malaysia","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[100.283305,5.3525772],[100.345993,5.3525772],[100.345993,5.4417467],[100.283305,5.4417467]]]},"attributes":{}},"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"nw","indices":[0,3]}],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Nov 29 12:21:43 +0000 2014","id":538669130526625792,"id_str":"538669130526625792","text":"Enjoyed
        Rurouni Kenshin: Kyoto Inferno and RK: the Legend Ends at @JapanFilmFest.
        Hmm, this all sounds familiar to the Dark Knight!","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in[...]
