---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=<giphy_api_key>&tag=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"Z0o5NaZSfxhdK","url":"http:\/\/giphy.com\/gifs\/jujubee-juliet-simms-automatic-loveletter-Z0o5NaZSfxhdK","image_original_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/giphy.gif","image_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/giphy.gif","image_mp4_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/giphy.mp4","image_frames":"33","image_width":"245","image_height":"136","fixed_height_downsampled_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/200_d.gif","fixed_height_downsampled_width":"360","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"111","fixed_height_small_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/100.gif","fixed_height_small_still_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/100_s.gif","fixed_height_small_width":"180","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/100w.gif","fixed_width_small_still_url":"http:\/\/media4.giphy.com\/media\/Z0o5NaZSfxhdK\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"56","username":"","caption":""},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Wed, 18 Nov 2015 03:25:03 GMT
recorded_with: VCR 2.9.3
