---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=<giphy_api_key>&tag=Hola
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"data":{"type":"gif","id":"5829F9d6boC1W","url":"http:\/\/giphy.com\/gifs\/5829F9d6boC1W","image_original_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/giphy.gif","image_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/giphy.gif","image_mp4_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/giphy.mp4","image_frames":"2","image_width":"200","image_height":"200","fixed_height_downsampled_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/200_d.gif","fixed_height_downsampled_width":"200","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"200","fixed_height_small_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/100.gif","fixed_height_small_still_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/100_s.gif","fixed_height_small_width":"100","fixed_height_small_height":"100","fixed_width_small_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/100w.gif","fixed_width_small_still_url":"http:\/\/media4.giphy.com\/media\/5829F9d6boC1W\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"100","username":"","caption":""},"meta":{"status":200,"msg":"OK"}}
  recorded_at: Wed, 18 Nov 2015 03:09:32 GMT
recorded_with: VCR 2.9.3
